image:
  repository: minio/minio
  tag: latest
  pullPolicy: IfNotPresent

mode: standalone

resources:
  requests:
    cpu: 100m
    memory: 256Mi

persistence:
  enabled: false

auth:
  rootUser: minioadmin
  rootPassword: minioadmin

extraArgs:
  - server
  - /data
  - --console-address
  - ":9001"

service:
  type: ClusterIP
  ports:
    api: 9000
    console: 9001
