apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: file-sharing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: "filemanager"
        - name: POSTGRES_USER
          value: "fileuser"
        - name: POSTGRES_PASSWORD
          value: "filepassword"
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-data
      volumes:
      - name: postgres-data
        emptyDir: {}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-user
  namespace: file-sharing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-user
  template:
    metadata:
      labels:
        app: postgres-user
    spec:
      containers:
      - name: postgres-user
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: "usermanager"
        - name: POSTGRES_USER
          value: "fileuser"
        - name: POSTGRES_PASSWORD
          value: "filepassword"
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-data
      volumes:
      - name: postgres-data
        emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-user
  namespace: file-sharing
spec:
  selector:
    app: postgres-user
  ports:
  - port: 5432
    targetPort: 5432

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: file-sharing
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432